MONGODB_URI=mongodb://localhost:27017/storyforge
JWT_SECRET=storyforge_jwt_super_secret_key_2024
JWT_EXPIRES_IN=7d
OPENAI_API_KEY=your_openai_api_key_here
PORT=3000

NOTIFICATIONS_ENABLED=true
AWS_REGION=us-east-1
AWS_SNS_STORY_EVENTS_TOPIC_ARN=arn:aws:sns:us-east-1:136492549698:Story-Forge-SNS.fifo

AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here

AWS_S3_BUCKET=story-forge-s3-bucket
AWS_S3_PUBLIC_BASE_URL=https://story-forge-s3-bucket.s3.us-east-1.amazonaws.com

EMAIL_NOTIFICATIONS_ENABLED=true
AWS_SES_REGION=us-east-1
SES_FROM_EMAIL=chitrasureshchauhan@gmail.com
SES_CONFIGURATION_SET=my-first-configuration-set

LAMBDA_STORY_EVENTS_ENABLED=true
AWS_LAMBDA_REGION=us-east-1
AWS_LAMBDA_STORY_EVENTS_FUNCTION_NAME=storyforge-story-events

CLOUDWATCH_METRICS_ENABLED=true
AWS_CLOUDWATCH_REGION=us-east-1
AWS_CLOUDWATCH_NAMESPACE=StoryForge

AWS_EC2_REGION=us-east-1
AWS_EC2_ALLOWED_INSTANCE_IDS=i-0f18b4f4a3e68cbfc
AWS_EC2_EXPORT_WORKER_INSTANCE_ID=i-0f18b4f4a3e68cbfc
EC2_MANAGEMENT_ENABLED=true

EXPORT_WORKER_TOKEN=storyforge_export_worker_token_2026
